
button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgb(94, 184, 223);
    color: white;
    outline: none;
    cursor: pointer;
  }

p {
    margin-left: 50px;
    font-size: 30px;
  }

  .field-button {
    display: flex;
    align-items: center;
  }
#text {
    border: 3px;
    border-color: black;
    margin-right: 30px;
}